   div{
            text-align: center;
            margin-top: 100px;
        }
        input{
            margin-bottom: 10px;
        }
        label{
            margin-right: 10px;
        }
        button{
            margin-top: 10px;
            margin-right: 10px;
        }
        a{
            margin-top: 10px;
        }