 form{
            border: 2px solid black;
            width: 200px;
            padding: 10px;
            margin: auto;
            margin-top: 100px;
            text-align: center;
        }
        input{
            margin-bottom: 10px;
        }
        button{
            margin-top: 10px;
        }
        a{
            display: block;
            margin-top: 10px;
        }